<h2>Student: <%= @student.name %> </h2>
<%= image_tag(avatar_url(@student), size: "48") %>  <!-- gravatar -->
<!-- if the student has a danger count of 3 or me tell them to contact -->
<% if @danger_count >= 3 %>
  <button id "producer contact"> Please Contact Producer</button>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="2">Attendance Records</th>
    </tr>
  </thead>


  <tbody>

    <% @student_attendance.each do |a| %>
      <tr>
        <td>When: <%= a.date %></td> 
        <td>Status: <%= a.status %></td>  
      </tr>
    <% end %>

  </tbody>
</table>




<br>