<% if @error %>
<h3 style= 'color:red'>Incorrect Email/PW </h3>
<% end %>

<div id = 'loginform'>

<form method = 'POST' action= '/login'>

<input type = 'text' name = 'name'> <br>
<input type = 'password' name= 'password'><br><br>
<input type = 'hidden' name = 'authenticity_token' value='<%= form_authenticity_token()%>' size = '65'>
<button type = 'submit'> Log In </button>

</form>

</div>