<div id = 'loginform'>

<% if @error %>
<h1>INVALID LOGIN</h1>
<% end %>

<form method = 'POST' action= '/login'>

Email: <input type = 'text' name = 'email'> <br>
Password: <input type = 'password' name= 'password'><br><br>
<input type = 'hidden' name = 'authenticity_token' value='<%= form_authenticity_token()%>' size = '65'>
<button type = 'submit'> Log In </button>

</form>

</div>